<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<link href="/resources/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
</head>
<body>
<div id="header">
    <h2 th:text="#{news}">News</h2>
    <div class="topnav">
        <a sec:authorize="isAnonymous()" href="/login" th:text="#{login}">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout" th:text="#{logout}">Logout</a>
        <a sec:authorize="isAnonymous()" href="/people/new" th:text="#{register}">Register</a>
        <a th:href="@{/comments/{id}(id=${newsId}, lang=ru)}" th:text="#{rus}">Russian</a>
        <a th:href="@{/comments/{id}(id=${newsId}, lang=en)}" th:text="#{eng}">English</a>
        <div class="search-container">
            <form action="">
                <input type="text" name="search" th:placeholder="#{search}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="menu">
    <div id="menu-box">
        <div id="menu-box-news">
            <h4 th:text="#{news}">News</h4>
        </div>
        <div id="menu-box-news-items">
            <ul id="news-ul">
                <li><a href="/" th:text="#{news}">News</a></li>
                <li><a th:href="@{/comments/{id}(id=${newsId})}" th:text="#{comments}">Comments</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <a href="/" th:text="#{news}">News</a>  >> <a th:href="@{/comments/{id}(id=${newsId})}" th:text="#{comments}">Comments</a>
    <br/>
    <br/>
    <p th:text="${news. getTitle()}">VALUE</p>
    <p th:text="${news.getContent()}">VALUE</p>
    <form sec:authorize="isAuthenticated()" th:method="GET" th:action="@{/comments/new/{id}(id=${newsId})}">
        <input type="submit" th:value="#{add.comment}"/>
    </form>
    <br/>
    <table>
        <th:block th:each = "item : ${comments}">
            <tr>
                <td class="td-title" th:text="${item.username}" style="width: 90%"></td>
                <td th:text="${item.createdDate}" style="width: 10%"></td>
            </tr>
            <tr>
                <td th:text="${item.body}"></td>
                <td class="td-view">
                    <form sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MODERATOR')" th:method="POST" th:action="@{/news/{id}/comments/{commentId}(id=${newsId},commentId=${item.getId()})}">
                        <input type="submit" th:value="#{delete.button}"/>
                    </form>
                </td>
            </tr>
            <tr>
                <td><br/></td>
                <td><br/></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>