<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All persons</title>
</head>
<body>
<p>
  Hello there
</p>

<table>
    <tr>
        <th>name</th>
        <th>email</th>
    </tr>
    <tr th:each="person : ${allPersons}">
        <td th:text="${person.username}">names</td>
        <td th:text="${person.email}">emails</td>
    </tr>
</table>

<div th:each="person : ${allPersons}">
    <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getUsername()}">user</a>
</div>

<br/>

<hr/>

<a href="/people/new">Create new person</a>

</body>
</html>