<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<link href="/resources/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<div id="header">
    <h2 th:text="#{edit.user}">Edit user</h2>
    <div class="topnav">
        <a sec:authorize="isAnonymous()" href="/login" th:text="#{login}">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout" th:text="#{logout}">Logout</a>
        <a sec:authorize="isAnonymous()" href="/people/new" th:text="#{register}">Register</a>
        <a th:href="@{/people/{id}/edit(id=${person.getId()}, lang=ru)}" th:text="#{rus}">Russian</a>
        <a th:href="@{/people/{id}/edit(id=${person.getId()}, lang=en)}" th:text="#{eng}">English</a>
        <div class="search-container">
            <form th:action="@{/news/search}" th:method="POST">
                <input type="text" name="item" th:placeholder="#{search}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="menu">
    <div id="menu-box">
        <div id="menu-box-news">
            <h4 th:text="#{news}">News</h4>
        </div>
        <div id="menu-box-news-items">
            <ul id="news-ul">
                <li><a href="/" th:text="#{news}">News</a></li>
                <li><a href="/people" th:text="#{users.list}">Users List</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <br/>
    <h4 th:text="#{edit.user}">Edit user</h4>
    <form th:method="POST" th:action="@{/people/edit/{id}(id=${person.getId()})}" th:object="${person}">
        <label for="username" th:text="#{username}">Username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
        <br/>
        <label for="password" th:text="#{password}">Password</label>
        <input type="password" th:field="*{password}" id="password"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        <br/>
        <label for="email">email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
        <br/>
        <label for="role">role</label>
        <select th:field="*{role}" id="role">
            <option th:value="ROLE_USER" th:text="User"></option>
            <option th:value="ROLE_MODERATOR" th:text="Moderator"></option>
            <option th:value="ROLE_AUTHOR" th:text="Author"></option>
            <option th:value="ROLE_ADMIN" th:text="Admin"></option>
        </select>
        <br/>
        <input type="submit" th:value="#{update}"/>
    </form>
</div>
</body>
</html>