<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<link href="/resources/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
</head>
<body>
<div id="header">
    <h2>News</h2>
    <div class="topnav">
        <a sec:authorize="isAnonymous()" href="/login">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
        <a sec:authorize="isAnonymous()" href="#about">Register</a>
        <a href="#contact">Russian</a>
        <a href="#contact">English</a>
        <div class="search-container">
            <form action="">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="menu">
    <div id="menu-box">
        <div id="menu-box-news">
            News
        </div>
        <div id="menu-box-news-items">
            <ul id="news-ul">
                <li><a href="/">News</a></li>
                <li><a href="/people">Users List</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <a href="/">News</a> >> <a href="/people">Users List</a>
    <br/>
    <br/>
    <table>
        <!--<form th:action="@{/people/status}" th:method="post" th:object="${allPersons}">-->
        <tr>
            <th>name</th>
            <th>email</th>
            <th>permitted</th>
            <th>delete</th>
            <th>ban</th>
        </tr>
        <tr th:each="person : ${allPersons}">
            <td>
                <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getUsername()}">user</a>
            </td>
            <td th:text="${person.email}">emails</td>
            <td th:text="${person.isEnabled()}">status</td>
            <td>
                <form th:method="POST" th:action="@{/people/{id}(id=${person.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
            <td>
                <form th:method="POST" th:action="@{/people/ban/{id}(id=${person.getId()})}">
                    <input type="submit" value="Ban/Permit"/>
                </form>
            </td>
        </tr>
            <!--<input type="submit" value="Submit">-->
        <!--</form>-->
    </table>
</div>
</body>
</html>