<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<link href="/resources/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Add news</title>
</head>
<body>
<div id="header">
    <h2 th:text="#{news}">News</h2>
    <div class="topnav">
        <a sec:authorize="isAnonymous()" href="/login" th:text="#{login}">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout" th:text="#{logout}">Logout</a>
        <a sec:authorize="isAnonymous()" href="/people/new" th:text="#{register}">Register</a>
        <a href="/news/new?lang=ru" th:text="#{rus}">Russian</a>
        <a href="/news/new?lang=en" th:text="#{eng}">English</a>
        <div class="search-container">
            <form th:action="@{/news/search}" th:method="POST">
                <input type="text" name="item" th:placeholder="#{search}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="menu">
    <div id="menu-box">
        <div id="menu-box-news">
            <h4 th:text="#{news}">News</h4>
        </div>
        <div id="menu-box-news-items">
            <ul>
                <li><a href="/" th:text="#{news}">News</a></li>
                <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_AUTHOR')"><a href="/news/new" th:text="#{news.publish}">Publish News</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <a href="/" th:text="#{news}">News</a> >> <a href="/news/new" th:text="#{news.publish}">Publish News</a>
    <br/>
    <br/>
    <form th:action="@{/news}" th:object="${news}" method="POST">
        <label for="text-title" th:text="#{news.title}">News title:</label>
        <br/>
        <input type="text" th:field="*{title}" id="text-title"/>
        <br/>
        <br/>
        <label for="edit-textarea" th:text="#{news.text}">News text:</label>
        <br/>
        <textarea id="edit-textarea" th:field="*{content}" name="content" rows="10" cols="100"></textarea>
        <br/>
        <input type="submit" th:value="#{publish}"/>
    </form>
</div>
</body>
</html>