<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<link href="/resources/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>News Management</title>
</head>
<body>
<div id="header">
  <h2 th:text="#{news}">News</h2>
  <div class="topnav">
    <a sec:authorize="isAnonymous()" href="/login" th:text="#{login}">Login</a>
    <a sec:authorize="isAuthenticated()" href="/logout" th:text="#{logout}">Logout</a>
    <a sec:authorize="isAnonymous()" href="/people/new" th:text="#{register}">Register</a>
    <a href="/news/management?lang=ru" th:text="#{rus}">Russian</a>
    <a href="/news/management?lang=en" th:text="#{eng}">English</a>
    <div class="search-container">
      <form th:action="@{/news/search}" th:method="POST">
        <input type="text" name="item" th:placeholder="#{search}">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
</div>
<div id="menu">
  <div id="menu-box">
    <div id="menu-box-news">
      <h4 th:text="#{news}">News</h4>
    </div>
    <div id="menu-box-news-items">
      <ul>
        <li><a href="/" th:text="#{news}">News</a></li>
        <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_AUTHOR')"><a href="/news/new" th:text="#{news.publish}">Publish News</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="content">
  <a href="/" th:text="#{news}">News</a>
  <br/>
  <br/>
  <table>
    <th:block th:each = "item : ${news}">
      <tr>
        <td class="td-title" th:text="${item.title}" style="width: 80%"></td>
        <td style="width: 5%"></td>
        <td th:text="${item.createdDate}" style="width: 10%"></td>
        <td style="width: 5%"></td>
      </tr>
      <tr>
        <td th:text="${item.content}"></td>
        <td class="td-view"><a th:href="@{/news/{id}(id=${item.getId()})}" class="a-view" th:text="#{view}">view</a></td>
        <td class="td-view"><a th:href="@{/news/edit/{id}(id=${item.getId()})}" class="a-view" th:text="#{edit}">edit</a></td>
        <td class="td-view">
          <form th:method="POST" th:action="@{/news/{id}(id=${item.getId()})}">
            <input type="submit" th:value="#{delete}"/>
          </form>
          <!--<a th:method="POST" th:href="@{/news/delete/{id}(id=${item.getId()})}" class="a-view">delete</a>-->
        </td>
      </tr>
      <tr>
        <td><br/></td>
      </tr>
    </th:block>
  </table>
</div>
</body>
</html>