<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<link href="/resources/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
<div id="header">
    <h2 th:text="#{news}">News</h2>
    <div class="topnav">
        <a sec:authorize="isAnonymous()" href="/login" th:text="#{login}">Login</a>
        <a sec:authorize="isAuthenticated()" href="/logout" th:text="#{logout}">Logout</a>
        <a sec:authorize="isAnonymous()" href="/people/new" th:text="#{register}">Register</a>
        <a th:href="@{/news/{id}(id=${news.getId()}, lang=ru)}" th:text="#{rus}">Russian</a>
        <a th:href="@{/news/{id}(id=${news.getId()}, lang=en)}" th:text="#{eng}">English</a>
        <div class="search-container">
            <form th:action="@{/news/search}" th:method="POST">
                <input type="text" name="item" th:placeholder="#{search}">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
</div>
<div id="menu">
    <div id="menu-box">
        <div id="menu-box-news">
            <h4 th:text="#{news}">News</h4>
        </div>
        <div id="menu-box-news-items">
            <ul id="news-ul">
                <li><a href="/" th:text="#{news}">News</a></li>
                <li><a th:href="@{/comments/{id}(id=${news.getId()})}" th:text="#{comments}">Comments</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="content">
    <a href="/" th:text="#{news}">News</a> >> <a th:href="@{/news/{id}(id=${news.getId()})}" th:text="${news.getTitle()}">news</a>
    <br/>
    <br/>
    <p th:text="${news.getTitle()}">VALUE</p>
    <p th:text="${news.getContent()}">VALUE</p>
    <div class="content-likes">
        <img th:src="@{/resources/like.png}" id="like-png"/>
        <a th:text="${likesSize}" id="likes-size-counter">VALUE</a>
        <form th:method="POST" th:action="@{/news/likes/{id}(id=${news.getId()})}">
            <input type="submit" th:value="Like"/>
        </form>
    </div>
</div>
</body>
</html>